@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
$red: #AC0E28;
$black: #030813;
$white: #F4F1F4;
$burgundy: #6A1E27;
$grey: #C4C4C4;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
:root {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}
body{
  margin:0;
  background: #02020c;
}
.container{
  max-width: 1440px;
  padding: 0 25px;
  margin:0 auto;
}
.button{
  font-size: 3rem;
  color:#000;
  padding: 7px 70px;
  background: radial-gradient(169.09% 169.09% at 50% 50%, #AC0E28 0%, rgba(172, 14, 40, 0) 100%);
  box-shadow: inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
  display:inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  box-shadow: 0 0 17px 5px rgba(172, 14, 40, 0.36), inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.preview{
  background: url("../img/preview.png") no-repeat;
  background-size:cover;
  width: 100%;
  min-height: 1080px;
  padding: 0;
  position: relative;
  svg{
    position: absolute;
    bottom: 93px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.5s ease;
  }
  svg:hover{
    bottom: 73px;
    transition: all 0.5s ease;
  }
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__menu{
    ul{
      display: flex;
      li{
        display: flex;
        padding: 0 0 0 92px;
        font-size: 2.9rem;
        color:$red;
        cursor: pointer;
      }
    }
  }
}
.model{
  padding: 250px 0 0 0;
  display: flex;
  &__description{
    h3{
      background: radial-gradient(62.32% 106.49% at 49.88% 35.06%, #CC0122 0%, #030202 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      font-size: 6.2rem;
      font-weight: $regular;
      padding: 60px 0 0 0;
      margin:0;
    }
    p{
      color:$white;
      font-weight: $regular;
      font-size: 2.2rem;
      padding: 35px 0;
      margin:0;
    }
  }
}
.about-model,.technologies,.colors{
  padding: 150px 0 0 0;
  h4{
    font-size: 4rem;
    color:$red;
    margin:0;
    padding: 0 0 90px 0;
    font-weight: $medium;
    text-align: center;
  }
  &__block{
    display: flex;
    justify-content: flex-start;
    &__description{
      align-self: center;
      padding: 0 0 0 26px;
      max-width: 340px;
      p{
        font-weight: $regular;
        font-size: 2.2rem;
        color: $grey;
      }
    }
  }
}
.technologies{
  h4{
    padding: 0 0 180px 0;
  }
  &__information{
    position: relative;
    display: flex;
    justify-content: center;
    &__card{
      position: absolute;
      z-index: 1;
      &__unit{
        position: relative;
        p{
          position: absolute;
          bottom: 0;
          font-size: 1.4rem;
          font-weight: $regular;
          color:#fff;
          background: linear-gradient(180deg, rgba(46, 43, 43, 0.2) 0%, rgba(0, 0, 0, 0.74) 60.42%);
          margin:0;
          padding: 5px 0;
        }
      }
    }
    &__card:nth-child(2){
      top:-100px;
      left: 150px;
    }
    &__card:nth-child(2)::after{
      position: absolute;
      content: '';
      width: 200px;
      background: $red;
      height: 1px;
      right: -170px;
      bottom: -60px;
      transform: rotate(45deg);
      z-index: 2;
    }
    &__card:nth-child(3){
      bottom:-250px;
      left: 150px;
    }
    &__card:nth-child(3)::after{
      position: absolute;
      content: '';
      width: 350px;
      background: $red;
      height: 1px;
      right: -318px;
      top: -15px;
      transform: rotate(145deg);
      z-index: 2;
    }
    &__card:nth-child(4){
      bottom:-250px;
      right: 90px;
    }
    &__card:nth-child(4)::after{
      position: absolute;
      content: '';
      width: 140px;
      background: $red;
      height: 1px;
      left:11px;
      top:-63px;
      transform: rotate(65deg);
      z-index: 2;
    }
  }
}
.colors{
  margin: 250px 0 0 0;
  &__image{
    display: flex;
    justify-content: center;
    margin: 60px 0 110px 0;
    img{
      width: 23%;
      height: auto;
      transition: all 0.5s ease;
    }
    img:hover{
      transform: scale(1.2,1.2);
      transition: all 0.5s ease;
    }
  }
}
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
  .container{
    padding: 0 18px;
  }
}
@media screen and (max-width: 576px){

}