:root {
  font-size: 10px;
}
.container{
  max-width: 1440px;
  padding: 0 25px;
  margin:0 auto;
}

@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
  .container{
    padding: 0 18px;
  }
}
@media screen and (max-width: 576px){

}