@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: #02020c;
}

.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}

.preview {
  background: url(../img/preview.png) no-repeat center center;
  background-size: cover;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  position: relative;
}
.preview svg {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.preview svg:hover {
  bottom: 35px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 92px;
  font-size: 2.9rem;
  color: #AC0E28;
  cursor: pointer;
}

.model {
  padding: 250px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.model__description h3 {
  background: radial-gradient(62.32% 106.49% at 49.88% 35.06%, #CC0122 0%, #030202 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 6.2rem;
  font-weight: 400;
  padding: 60px 0 0 0;
  margin: 0;
}
.model__description p {
  color: #F4F1F4;
  font-weight: 400;
  font-size: 2.2rem;
  padding: 35px 0;
  margin: 0;
}

.about-model, .technologies, .colors, .shop {
  padding: 150px 0 0 0;
}
.about-model h4, .technologies h4, .colors h4, .shop h4 {
  font-size: 4rem;
  color: #AC0E28;
  margin: 0;
  padding: 0 0 90px 0;
  font-weight: 500;
  text-align: center;
}
.about-model__block, .technologies__block, .colors__block, .shop__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.about-model__block__description, .technologies__block__description, .colors__block__description, .shop__block__description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0 0 26px;
  max-width: 340px;
}
.about-model__block__description p, .technologies__block__description p, .colors__block__description p, .shop__block__description p {
  font-weight: 400;
  font-size: 2.2rem;
  color: #C4C4C4;
}

.technologies h4 {
  padding: 0 0 180px 0;
}
.technologies__information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.technologies__information__card {
  position: absolute;
  z-index: 1;
}
.technologies__information__card__unit {
  position: relative;
}
.technologies__information__card__unit p {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 43, 43, 0.2)), color-stop(60.42%, rgba(0, 0, 0, 0.74)));
  background: linear-gradient(180deg, rgba(46, 43, 43, 0.2) 0%, rgba(0, 0, 0, 0.74) 60.42%);
  margin: 0;
  padding: 5px 0;
}
.technologies__information__card:nth-child(2) {
  top: -100px;
  left: 150px;
}
.technologies__information__card:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 200px;
  background: #AC0E28;
  height: 1px;
  right: -170px;
  bottom: -60px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}
.technologies__information__card:nth-child(3) {
  bottom: -250px;
  left: 150px;
}
.technologies__information__card:nth-child(3)::after {
  position: absolute;
  content: "";
  width: 350px;
  background: #AC0E28;
  height: 1px;
  right: -318px;
  top: -15px;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
  z-index: 2;
}
.technologies__information__card:nth-child(4) {
  bottom: -250px;
  right: 90px;
}
.technologies__information__card:nth-child(4)::after {
  position: absolute;
  content: "";
  width: 140px;
  background: #AC0E28;
  height: 1px;
  left: 11px;
  top: -63px;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  z-index: 2;
}

.colors {
  margin: 250px 0 0 0;
}
.colors__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 110px 0;
}
.colors__image img {
  width: 23%;
  height: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.colors__image img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.shop {
  padding: 0 0 120px 0;
}
.shop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__form__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop__form__image__preview img {
  width: 100%;
  height: auto;
}
.shop__form__image__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}
.shop__form__image__list img {
  padding: 27px 0 0 0;
  width: calc(25% - 27px);
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.shop__form__description {
  padding: 0 0 0 30px;
  max-width: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop__form__description h4 {
  font-weight: 400;
  font-size: 3.4rem;
  color: #C4C4C4;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: left;
}
.shop__form__description p {
  font-weight: 400;
  font-size: 2.2rem;
  color: #C4C4C4;
  margin: 0;
  padding: 0 0 15px 0;
}
.shop__form__description a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #C4C4C4;
  text-decoration: none;
  padding: 0 0 15px 0;
  position: relative;
  width: auto;
}
.shop__form__description a span {
  border-bottom: 1px solid #C4C4C4;
  color: #C4C4C4;
  padding: 0;
}
.shop__form__description h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #C4C4C4;
  margin: 0;
  padding: 0 0 7px 0;
}
.shop__form__description span {
  color: #AC0E28;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0;
  padding: 0 0 20px 0;
}
.shop__form__description__dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background: #1E1B1B;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0 13px 0;
  border-bottom: 1px solid #656363;
}
.footer__feedback__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__feedback__links a {
  padding: 0 30px 0 0;
  color: #AC0E28;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}
.footer__feedback__links a span {
  border-bottom: 1px solid #AC0E28;
  padding: 0;
}
.footer__feedback__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__feedback__social-networks svg {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 33px 0 0;
}
.footer__feedback__social-networks svg:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__feedback__phone {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__feedback__phone a {
  font-size: 2.9rem;
  color: #AC0E28;
  font-weight: 700;
  text-decoration: none;
}
.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0 22px 0;
}
.footer__information__rights p {
  color: #818181;
  font-size: 1.4rem;
  font-weight: 300;
}
.footer__information__links a {
  text-decoration: none;
  color: #818181;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0 0 0 38px;
}
.footer__information__links a span {
  border-bottom: 1px solid #818181;
}

.button {
  font-size: 3rem;
  color: #000;
  padding: 7px 70px;
  background: radial-gradient(169.09% 169.09% at 50% 50%, #AC0E28 0%, rgba(172, 14, 40, 0) 100%);
  -webkit-box-shadow: inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

.button:hover {
  -webkit-box-shadow: 0 0 17px 5px rgba(172, 14, 40, 0.36), inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 17px 5px rgba(172, 14, 40, 0.36), inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 37px 0;
  position: relative;
}
.dropdown-menu__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #AC0E28;
  position: relative;
}
.dropdown-menu__select p {
  padding: 0;
  color: #AC0E28;
}
.dropdown-menu__select svg {
  margin: auto 0 auto 15px;
}
.dropdown-menu__list {
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 8px 12px;
  border-left: 1px solid #AC0E28;
  border-right: 1px solid #AC0E28;
  border-bottom: 1px solid #AC0E28;
  max-height: 230px;
  position: absolute;
  overflow-y: scroll;
  background: #02020c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  top: 87px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dropdown-menu__list p {
  cursor: pointer;
  color: #C4C4C4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dropdown-menu__list p:hover {
  color: #AC0E28;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dropdown-menu .dropdown-menu__list-active {
  visibility: visible;
  opacity: 1;
}
.dropdown-menu__list::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
}