@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: #02020c;
}

.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}

.button {
  font-size: 3rem;
  color: #000;
  padding: 7px 70px;
  background: radial-gradient(169.09% 169.09% at 50% 50%, #AC0E28 0%, rgba(172, 14, 40, 0) 100%);
  -webkit-box-shadow: inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  -webkit-box-shadow: 0 0 17px 5px rgba(172, 14, 40, 0.36), inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 17px 5px rgba(172, 14, 40, 0.36), inset 1px 0 5px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.preview {
  background: url("../img/preview.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 1080px;
  padding: 0;
  position: relative;
}
.preview svg {
  position: absolute;
  bottom: 93px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.preview svg:hover {
  bottom: 73px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 92px;
  font-size: 2.9rem;
  color: #AC0E28;
  cursor: pointer;
}

.model {
  padding: 250px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.model__description h3 {
  background: radial-gradient(62.32% 106.49% at 49.88% 35.06%, #CC0122 0%, #030202 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 6.2rem;
  font-weight: 400;
  padding: 60px 0 0 0;
  margin: 0;
}
.model__description p {
  color: #F4F1F4;
  font-weight: 400;
  font-size: 2.2rem;
  padding: 35px 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
}